<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atlaapp.driver">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.atlaapp.driver.activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.atlaapp.driver.activity.RegisterActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.atlaapp.driver.activity.PaperActivity" />
        <activity android:name="com.atlaapp.driver.activity.VerifyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.atlaapp.driver.activity.MapsActivity">

        </activity>
        <activity android:name="com.atlaapp.driver.activity.ProfileActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

        <activity
            android:name="com.atlaapp.driver.activity.UpdateProfileActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.atlaapp.driver.activity.CarPapersActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.atlaapp.driver.activity.UserPaperActivity" />
        <activity android:name="com.atlaapp.driver.activity.WalletActivity" />

        <!-- //notifaction -->
        <service
            android:name="com.atlaapp.driver.notification.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.atlaapp.driver.notification.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity android:name="com.atlaapp.driver.activity.AcceptOrderActivity" />
        <activity android:name="com.atlaapp.driver.activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>